<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        <label for="">Full name:</label> <br>
        <input type="text",name="fullname"> <br>
        <br>

        <label for="">Email:</label> <br>
        <input type="text", name="email",title="Email phải có định dạng email@gmail.com"> <br>
        <br>

        <label for="">Username:</label> <br>
        <input type="text", name="username"> <br>
        <br>

        <label for="">Password:</label> <br>
        <input type="text", name="password"> <br>
        <br>

        <button>Submit</button>

    </form>
</body>
</html>