<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
</head>
<body>
    hello world
    <header><h1>HTML</h1></header>
    <h1>headind 1</h1>
    <h2>heading 2</h2>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio iure odit adipisci labore illo dignissimos magni consequuntur, voluptatem quasi quam consequatur nam consectetur vitae amet? Mollitia harum earum nam.</p>
    
    <b>I am bold</b>
    <br>
    <i>I am italic</i>
    <br>
    <u>I am underline</u>
    <br>

    <small>I am small</small>
    <br>

    <a href="http://dantri.com" target="#">Click to go to Dantri</a>
    <br>

    <hr>
    <img src="https://via.placeholder.com/200x300" alt="This is an image">
    <hr>

    <div>Nội dung</div>
    <div>block</div>

    <span>Nội dung</span>
    <span>inline</span>
    <hr>

    <iframe width="972" height="547" src="https://www.youtube.com/embed/F68QHxzsKRA?list=PL_a53EYmzLRinMu7YeOJJdae1FuWrNUT0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</body>
</html>